<%# https://getbootstrap.com/docs/5.3/components/card/ %>


<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= flat.name %></h5>
    <p class="card-text" style="background-image.photo.<%=flat.photos.first.url%>" > <%= flat.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> Price per day: <%= flat.price %></li>
    <li class="list-group-item"><%= flat.full_address %></li>
    <%# <li class="list-group-item"><%= flat.mean_rating %> <%#</li> %>
  </ul>
  <div class="card-body">
    <%= image_tag flat.photos[0], style: 'height: 110px;width:100%' %>
    <%# <%= image_tag flat.photos[1], style: 'height:75px;width:75px' %>
    <%# <%= image_tag flat.photos[2], style: 'height:75px;width:75px' %>
    <%= link_to 'Show me more', flat_path(flat), class: "btn-flat m-2" %>
  </div>
</div>

<%# <a href="#" class="card-link">Show me this appartment!</a> %>
