<%# https://getbootstrap.com/docs/5.3/components/card/ %>


<div class="card shadow p-3 bg-white" style="border_radius: $border-radius">
  <div class="card-body">
    <h3 id='gradient' class="card-title text-center"><%= flat.name %></h3>
      <% if flat.description.length > 67 %>
        <p class="card-text" ><%= flat.description[0,64] %>...</p>
      <% else %>
        <p class="card-text" ><%= flat.description %></p>
      <% end %>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"> Price per day: <%= flat.price %></li>
    <li class="list-group-item"><%= flat.city %></li>
    <%# <li class="list-group-item"><%= flat.mean_rating %> <%#</li> %>
  </ul>
  <div class="card-body">
    <% if flat.photos[0].nil? %>
      <%= image_tag 'https://raw.githubusercontent.com/Arth-M/air_cnc/master/public/logo.png', style: 'height: 110px;width:50%' %>
    <% else %>
      <%= image_tag flat.photos[0], style: 'height:150px; width:100%' %>
    <% end %>
    <%# <%= image_tag flat.photos[1], style: 'height:75px;width:75px' %>
    <%# <%= image_tag flat.photos[2], style: 'height:75px;width:75px' %>
    <p class="m-2 text-center"><%= link_to 'Show me more', flat_path(flat), class: "btn-flat m-2" %></p>
  </div>
</div>

<%# <a href="#" class="card-link">Show me this appartment!</a> %>
