<div class="container my-3">
  <div class="row mb-3">
    <div class="col-6">
      <img src= "<%= current_user.photo.url %>" alt="User avatar">
      <p>First_name: <%= current_user.first_name %></p>
      <p>Last_name: <%= current_user.last_name %></p>
    </div>
    <div class="col-6">
      <p>Phone_number: <%= current_user.phone_number %></p>
      <p>Email: <%= current_user.email %></p>
    </div>
  </div>
</div>
