<div class="user-info-container mt-3 animation-top">
  <div class="d-flex justify-content-between shadow p-3 mb-5 bg-white rounded">
    <div>
      <p>First name : <%= current_user.first_name %></p>
      <p>Last name : <%= current_user.last_name %></p>
      <p>Phone number : <%= current_user.phone_number %></p>
      <p>Email : <%= current_user.email %></p>
    </div>
    <div class="align-self-baseline">
      <%= cl_image_tag current_user.photo.key, width:500, height:600, class:"avatar-dashboard" %>
    </div>
  </div>
</div>
