<footer class="footer">
  <div class="footer-links">
    <%= image_tag "https://avatars.githubusercontent.com/u/159015061?v=4", class: "avatar", alt: "avatar" %>
    <%= image_tag "https://avatars.githubusercontent.com/u/174323421?v=4", class: "avatar", alt: "avatar" %>
    <%= image_tag "https://avatars.githubusercontent.com/u/174130867?v=4", class: "avatar", alt: "avatar" %>
    <%= image_tag "https://avatars.githubusercontent.com/u/174323723?v=4", class: "avatar", alt: "avatar" %>
    <%= image_tag "https://ca.slack-edge.com/T02NE0241-U07AGK4L1NF-7901e7bae11a-512", class: "avatar", alt: "avatar" %>
  </div>
  <div class="footer-copyright">
    Batch 1738 Toulouse <i class="fas fa-heart"></i> By Le Wagon
  </div>
</footer>
