<h1>Flats#show</h1>
<p>Find me in app/views/flats/show.html.erb</p>

  <%= link_to "Edit (Tmp)", edit_flat_path(@flat), class: 'btn btn-primary' %><br>
  <%= button_to "Remove (Tmp)", @flat, method: :delete, class: 'btn btn-primary'  %>

  <%= @flat.name %><br>
  <%= @flat.street %><br>
  <%= @flat.zipcode %><br>
  <%= @flat.city %><br>
  <%= @flat.full_address %><br>
  <%= @flat.description %><br>
  <%= @flat.price %><br>

  <% if @flat.photos.attached? %>
    <% @flat.photos.each do |photo| %>
    <%= cl_image_tag photo.key  %>
    <% end %>
  <% end %>

  <p>Avis sur le logement :</p>
  <%# <%= if @flat.mean_rating != nil %><br>
  <%# <%= @flat.mean_rating %><br>
  <%# <%= end %>
  <% @booking_flat.each do |booking_review| %>
      <%= @review = FlatReview.where(booking_id: booking_review.id).first.comment %>
      <%= @review = FlatReview.where(booking_id: booking_review.id).first.rating %>/5
    <% end %> <br> <br>


  <%= link_to "Reserver",  new_flat_booking_path(@flat), class: 'btn btn-primary' %>
  <%= link_to "Back to list", flats_path, class: 'btn btn-primary' %><br>
