<h1>Flats#show</h1>
<p>Find me in app/views/flats/show.html.erb</p>


  <%= @flat.name %><br>
  <%= @flat.street %><br>
  <%= @flat.zipcode %><br>
  <%= @flat.city %><br>
  <%= @flat.full_address %><br>
  <%= @flat.description %><br>
  <%= @flat.price %><br>
  <%= @flat.mean_rating %><br>
  <%= @flat.photos %><br>

  <%= link_to "Back to list", flats_path, class: 'btn btn-primary' %><br>
