<div class="container">
  <div id="booking-form" class="inner-container shadow p-3">
    <div class="form-container mb-5 text-center", data-controller="form">
      <h1 id="another-gradient">Your booking</h1>
        <%= simple_form_for @booking, url: flat_bookings_path do |f| %>
        <div class="form-inputs">
          <div class="row justify-content-center w-100">
            <div class="col-5">
            <%#= f.input :start_date, as: :string, :input_html => { :class => 'date', data: {controller: "booking-date-start"} } %>
            <%#= f.input :end_date, as: :string, :input_html => { :class => 'date', data: {controller: "booking-date-end"} } %>
            <%= f.input :start_date, as: :string, :label => "Dates", input_html: { data: { controller: "booking-date-both", target: "booking-date-both.entryDate" } } %>
            </div>
            <%= f.input :end_date, as: :string, as: :hidden %>
            </div>
            <%# <%= f.input :payment_amount %>
            <%# <%= f.input :flat_id %>
            <%# <%= f.input :user_id %>
            <%# <%= f.input :flat_review_id %>
            <%= f.button :submit, class: "btn-flat"%>
            </div>
          <% end %>
          </div>
      <div class="d-flex justify-content-between border-top mb-1">
        <%= link_to "Back", :back, class: "btn-flat align-self-end" %>
      </div>
  </div>
</div>
