<h1>Bookings#show</h1>
<p>Find me in app/views/bookings/show.html.erb</p>


  <%= @booking.start_date %><br>
  <%= @booking.end_date %><br>
  <%= @booking.payment_amount %><br>
  <%= @booking.flat_id %><br>
  <%= @booking.user_id %><br>
  <%= @booking.flat_review_id %><br>

  <%= link_to "Back to list", flats_path, class: 'btn btn-primary' %><br>
