<%= stylesheet_link_tag "login", "data-turbo-track": "reload" %>

<div class="window">
  <span class="h1">Sign In</span>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email" }, class:"mt-4 form-control", placeholder:"Your email", label: false %>

    <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" }, class:"mt-2 form-control", placeholder:"Your password", label: false %>

    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    <%= f.button :submit, "Log in", class:"mb-2 btn btn-light mt-2" %>
    <small>You do not have an account? <a href="sign_up" class="text-warning">Sign up</a></small><br>
    <small>Forgot your password? <a href="password/new" class="text-warning">Recover password</a></small>
  <% end %>
</div>
