<!DOCTYPE html>
<html>
  <head>
    <title>AirCnc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= javascript_importmap_tags %>
    <%= render 'components/navbar' %>
  </head>

  <body>
    <%# if current_user %>
      <%# if  current_user.first_name==nil && current_user.last_name==nil && current_user.phone_number==nil%>
      <%# <p class="notice"><%= "You should enter your informations" %>
      <%# end %>
    <%# else %>
      <%# <p class="notice"><%= "Sign to have all the app features" %>
    <%# end %>
    <%= yield %>
  </body>
  <%= render 'components/footer' %>
</html>
