<!DOCTYPE html>
<html>
  <head>
    <title>AirCnc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <header>
    <%= render 'components/navbar' %>
  </header>
  <body>

    <% if current_user %>
      <% if  current_user.first_name==nil && current_user.last_name==nil && current_user.phone_number==nil%>
      <p class="notice"><%= "You should enter your informations" %></p>
      <% end %>
    <% else %>
      <p class="notice"><%= "Sign to have all the app features" %></p>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= render 'components/footer' %>
  </body>
</html>
